
Touch-Deck-Desktop/Touch-Deck-Desktop.vcxproj.user

Touch-Deck-Desktop/Touch-Deck-Desktop.vcxproj.filters

Touch-Deck-Desktop/Touch-Deck-Desktop.vcxproj

*.sln

Touch-Deck-Desktop/Debug/
Touch-Deck-Desktop/.vs/